[Unit]
Description=Apply correct Redshift state on login

[Service]
Type=oneshot
ExecStart=/bin/bash -c '\
HOUR=$(date +%%H); \
if [ "$HOUR" -ge 20 ] || [ "$HOUR" -lt 9 ]; then \
  exec /usr/bin/redshift -O 4200 -b 0.9 -m randr; \
else \
  exec /usr/bin/redshift -x -m randr; \
fi' 

[Install]
WantedBy=default.target

